%html
	%head
		%link{:rel => "stylesheet", :href => "/style.css", :type => "text/css", :charset => "utf-8"}
	%body
		#container
			#header
				%h2 Welcome to our site!
			#content
				-if @error_message == nil
					%table#box-table-a
						%tr.header_row 
							%th Loai
							%th Mua vao
							%th Chuyen khoan
							%th Ban ra
						-@currency_list.each do |currency|
							%tr
								%td= currency.currency_code.upcase
								%td= currency.buy_in_cash
								%td= currency.transfer
								%td= currency.sell_in_cash
					%p End of the table
				-else
					.error_message= @error_message
						
			
			
		
			
